.red {
  color: #f3477a;
}

.ant-radio-button .ant-radio-group-outline {
  background-color: #f3477a;
  color: red;
}

/* .ant-form label {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 10px;
} */

.ant-select-selector {
  background: darkblue;
}

.ant-radio-group {
  display: flex;
}

.ant-radio-group .ant-radio-button-wrapper {
  border: none !important;
  padding: 0 10px;
}

.ant-radio-button-wrapper:not(:first-child)::before {
  display: none !important;
}

.ant-form .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  display: flex;
  font-size: 20px;
  border: none;
  background-color: #fff9e7;
  border-radius: 15px;
  padding: 8px 20px;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  font-size: 14px;
  line-height: 14px !important;
}

.ant-form .fthDbT {
  background-color: none;
}

.ant-form .ant-form-item-control-input-content {
  max-width: 90%;
}

.icons {
  width: 20px;
  height: 20px;
}

.ant-form {
  border: solid 1px black;
  border-radius: 30px;
  padding: 0px;
}

.ant-col .ant-form-item-control {
  margin: auto;
}

.ant-form-item .ant-select {
  border-radius: 15px;
  font-size: 20px;
}

.ant-row .ant-form-item {
  margin-bottom: 0px;
}

.userProfileWrapper {
  height: 90vh;
  width: 35vh;
  background-color: #fff0bf;
  border-radius: 30px;
  padding: 30px;
  border: solid 10px white;
}

.userImg {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.userProfile {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.subsWrapper {
  display: flex;
  background-image: url(img/pattern.png);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-around;
}
